* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header-block{
    padding:0 30px;

}

.icons a{
    color: #fff;
    text-decoration: none;
    padding: 50px 20px;
}
.welcome img{
    padding: 30px;
    border: 1px solid white;
    border-top: none;
}
.names{
    padding-top: 100px;
    color: #fff;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    line-height:85px;
    letter-spacing: 30px;
    flex: 1;
    align-items: center;
    font-weight: 500;

   
}

.names button{
    margin-top: 50px;
    background-color: #fff;
    color: black;
    padding: 10px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid black;
    border-radius: 15px;
}
.names button:hover{
    background-color: chartreuse;
    color: #fff;
}
.section-block{
    width: 50%;
    margin-top: 80px;
    gap: 5px;
}
.about h2{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 130px;
    margin-bottom: 30px;
   
}
.about p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    border: 1px solid black;
    padding: 20px;
    margin-left: 130px;
    margin-bottom: 20px;
    width: 75%;   
}
.photo{
    margin-left: 60px;
}

.foto img{
    width: 100%;
    
}

.foto{
    margin-right: 80px;
}
.canvas img{
    width: 100%;
    height: 100%;
}
.manufacture h3{
    color: #fff;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 130px;
}
.manufacture p{
    color: #fff;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid white;
    padding: 30px;
    width: 75%;
    margin-left: 130px;
    margin-top: 30px;

}
.manufacture button{
    background-color: #fff;
    color: black;
    padding: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 130px;
}
.manufacture button:hover{
    background-color: yellowgreen;
    color: #fff;
}
.inform-block{
    margin: 50px 130px;
    gap: 20px;

}
.inform h4{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}
.inform p{
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.information{
    border: 1px solid black;
    border-radius: 15px;
    background-color: #fff;
    width: 25%;
    min-height: 600px;
    margin: 50px 10px;   
}
.information:hover{
    background-color: blue;
    color: #fff;
}
.information h6{
    margin: 50px 50%;
    text-align: center;
    border: 1px solid black;
    border-radius: 100px;
    background-color: #fff;
    color: black;
    font-size: 20px;
    padding: 10px;
    width: 50px;
}
.information h5{
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.information p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 50px;
}
.inform-block button{
    padding: 10px 40px;
    border-radius: 15px;
    background-color: black;
    color: #fff;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inform-block button:hover{
    background-color: yellowgreen;
}
.team-block{
    padding: 50px;
}
.team h5{
    padding-top: 50px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;

}
.team p{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}
.images{
    width: 300px;
    height: 380px;
    margin: 50px 20px;
}
.name{
    border: 1px solid black;
    margin-left: 45px;
    background-color: #fff;
    margin-bottom: -70px;
    padding: 20px;

}
.name a{
    color: blue;
    text-decoration: none;
    padding: 10px;
    justify-content: center;
}
.name h6{
    color: blue;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.name p{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 10px;

}
.personal h4{
    margin-top: 50px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.personal p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}
.block input{
    margin-left: 130px;
    margin-top: 20px;
    width: 75%;
    background-color: blue;
    color: white;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
    border-bottom: 3px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
}
.block textarea{
    margin-left: 130px;
    margin-top: 20px;
    width: 75%;
    background-color: blue;
    color: white;
    padding:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
    border-bottom: 3px solid white;
    border-top: none;
    border-left: none;
    border-right: none;

}
.block button{
    padding: 10px 60px;
    margin-top: 50px;
    margin-left: 130px;
    margin-bottom: 50px;
    text-align: center;
    background-color: rgb(237, 237, 17);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: oblique;
    border: 1px solid black ;
}
.block button:hover{
    background-color:black;


}
.phone{
    color: #fff;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 130px;
    
}
.icon{
    margin: 50px 0 50px 130px;
}
.icon a{
    background-color: blue;
    color: white;
    border: 1px solid white;
    border-radius: 100px;
    padding: 20px;
    width: 50px;
    text-decoration: none;
    
}
.icon a:hover{
    background-color: yellowgreen;
    color: white;
}
.section-block iframe{
    width: 100vh;
    height: 100vh;
}
.best-comments{
    margin-top: 150px;
    width: 100%;
    border: 1px solid grey;
    transform: skew(-40deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0 70px;

}
.best-comments-info{
    transform: skew(40deg);
}
.best-comments-info h3{
    padding-left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
}
.best-comments-info h4{
    padding-left:200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: blue;
}
.best-comments-info i{
    font-size: 24px;
    color: blue;
    padding: 20px;
}
.best-comments-info img{
    margin-top:-120px;
}
.footer-block{
    color: white;
    width: 400px;
    height: 300px;
    margin:40px;
    line-height: 30px;   
    padding: 20px; 
}
.footer-block h2{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px;

}
.footer-block p{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0 20px;
}
.icon-inform i{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    padding:20px;
    gap: 20px;
}
.icon-inform p {
    margin-top: 25px;
}
.footer-block input{
    padding: 10px;
}
.footer-block button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 10px;
    background-color: blue;
    color: #fff;
    border: none;
}
.footer-block button:hover{
    background-color: black;
    color: #fff;
}
.footer-icon{
    gap: 10px;
    margin: 20px 0;
}
.footer-icon a{
    background-color: rgb(7, 7, 13);
    color: white;
    border: 1px solid white;
    border-radius: 100px;
    padding: 10px;
    width: 50px;
    text-decoration: none;
    text-align: center;
   
    
}
.footer-icon a:hover{
    background-color: rgb(12, 15, 184);
    color: white;
}
.reserv{
    margin: 30px;
}
.slick-dots li{
    background-color: #e7e7e7;
}
